@font-face {
    font-family: "Comfortaa";
    src: url("resources/fonts/Comfortaa_Regular.woff") format("woff");
}
@font-face {
    font-family: "DINPro";
    src: url("resources/fonts/DINPro-Medium_13936.woff") format("woff");
}
body{
    color: #fff;
    background-color: #3b3b3b;
    font-family: Comfortaa;
    margin: 0;
    padding: 0;
}
h1{
    font-family: DINPro;
    letter-spacing: 2px;
}
h2{
    font-size: 3rem;
    font-family: DINPro;
    letter-spacing: 2px;
    font-weight: bold;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1d1d1d;
    padding: 5px 20px;
}
header div{
    display: flex;
    flex-direction: row;
    gap: 30px;
    /*border: solid white 1px;*/
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

main{
    display: grid;
    grid-template-columns: 20% auto;
}
.evidence_sideNav{
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
    height: 90vh;
    gap: 5px;
    padding: 0 0;
}
.evidence_sideNav a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    height: 6vh;
    align-content: center;
    font-family: Comfortaa;
    font-size: 1.3rem;
    padding: 0 50px;
}
.evidence_sideNav a:hover{
    background-color: #3b3b3b;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) 300ms;
    padding-left: 30px;
}
.evidence_main{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.syslog{
    background-color: #1d1d1d;
    height: 70vh;
}
.syslog_entries {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.syslog_entry {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: monospace;
}