@font-face {
    font-family: "Fairymental";
    src: url("resources/fonts/FairymentalStash-Regular.woff") format("woff");
}
body{
    color: #fff;
    font-family: Fairymental;
    background-color: #000000;
}
p{
    font-size: 1rem;
}
h1{
    font-size: 5rem;
    font-weight: bold;
}
h2{
    font-size: 3rem;
}
h4{
    font-size: 1.3rem;
}
nav{
    padding: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar_dropdownDiv{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}
.navbar_dropdownDiv a{
    text-decoration: none;
}
.navbar_dropdownDiv a:hover{
    color: #ffe7c8;
    scale: 120%;
    transform: rotate(1deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}
.navbar_dropdownDiv a:hover .pointer{
    scale: 150%;
}
#logo{
    width: 50%;
}
#logo:hover{
    scale: 110%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}