html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {
    background-image:
        linear-gradient(#000, #00000000),
        url("../STYLE/resources/images/lion1.jpg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}
.temp{
    padding: 500px;
}