html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {
    background-image:
        linear-gradient(#000, #00000000),
        url("../STYLE/resources/images/lion1.jpg");

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}
.main_event_big{
    display: flex;
    flex-direction: column;
    padding: 10% 15% 3% 15% ;
    /*background-color: #00000091;*/
    border-radius: 50px;
}
.main_event_big h1{
    padding: 0;
    margin: 0;
}
.main_event_big p{
    font-size: 1.2rem;
}
.main_event_big span{
    color: #ffc272;
}
.main_event_big a{
    color: #c5c5c5;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}
.main_event_big a:hover{
    color: #ffc272;
}
.main_event_big hr{
    margin: 20px 0;
    width: 20%;
    padding: 1px;
    background-color: #fff;
}
#redirectButton{
    font-family: DINPro;
    text-align: center;
    color: #fff;
    background-color: #000000;
    border: solid white 1px;
    border-radius: 20px;
    width: 15%;
    padding: 10px 20px;
    margin: 40px 5px;
    box-shadow: 21px 29px 80px 5px rgba(0,0,0,0.51);
    -webkit-box-shadow: 21px 29px 80px 5px rgba(0,0,0,0.51);
    -moz-box-shadow: 21px 29px 80px 5px rgba(0,0,0,0.51);
}
#redirectButton:hover{
    color: #ffc272;
    border: solid #ffc272 1px;
    scale: 110%;
    transform: rotate(1deg);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}
.main_event_big_info{
    display: flex;
    width: 40%;
    padding: 15px;
    gap: 20px;
}
.main_event_big_info:hover{
    scale: 110%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}
.main_event_big_info span{
    border: solid #ffffff 1px;
}
.main_event_sub{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 6%;
    gap: 4%;
}
.main_event_sub article{
    padding: 50px;
    border: solid white 1px;
    background-color: #000;
    border-radius: 30px;
    box-shadow: 21px 29px 80px 5px rgba(0,0,0,0.51);
    -webkit-box-shadow: 21px 29px 80px 5px rgba(0,0,0,0.51);
    -moz-box-shadow: 21px 29px 80px 5px rgba(0,0,0,0.51);
}
.main_event_sub_title{
    padding: 0 15%;
}
.main_event_sub_extra{
    display: flex;
    justify-content: center;
}