.mainPage_BG{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;
    background-image: linear-gradient(#000, #00000000), url(resources/images/lion1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
